<mat-toolbar color="primary">
	<div class="container">
  <mat-toolbar color="primary" style="padding: 0">
    <span>Angular CRUD</span>
    <span class="example-spacer"></span>
    <button mat-button [routerLink]="['/login']">Login</button>
    <button mat-button [routerLink]="['/signup']">Signup</button>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar>
</div>
</mat-toolbar>